@import "tailwindcss";


.new{
  font-family: Fraunces, "Fraunces Placeholder", serif;


color: rgb(255, 255, 255);
}

.hok{
  font-family: "Hanken Grotesk", "Hanken Grotesk Placeholder", sans-serif;

color: rgb(255, 255, 255);
}